input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  background: yellow;
  color: white;
  border-radius: 10px;
}

.data {
  height: 80vh;
  width: 100%;
  display: block;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.data form {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border: none;
}

.data h1 {
  font-size: 40px;
  width: 100%;
  border-bottom: 1px solid white;
  text-align: center;
  color: #fff;
}

.data form input {
  width: 100%;
  color: black;
}

.data form textarea {
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  width: 100%;
  color: black;
}

.success-popup {
  margin-top: 100px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fadeInOut 3s forwards;
  background-color: transparent;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  20% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}

@media (max-width: 425px) {
  .data form {
    width: 90%;
    margin-bottom: 20px;
  }
}
